# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Ignore updateComic
/updateComic/Env.py
/updateComic/.idea
/updateComic/__pycache__
/updateComic/log
/updateComic/2. output/*
/updateComic/1. input/*
!/updateComic/1. input/0. Author+Title

# don't ignore database scripts
/backend/INSERT*.txt
!/backend/CREATE_TABLE.txt
!/backend/INSERT_DEVEL_*.txt

# dependencies
/frontend/node_modules
/backend/node_modules
/frontend/.pnp
/frontend/.pnp.js

/frontend/package-lock.json
/backend/package-lock.json

/frontend/.env
/backend/.env

# ignore public data
/backend/public/*
!/backend/public/images

/backend/public/tmp/*
!/backend/public/tmp
!/backend/public/tmp/robot.txt

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
updateComic/Env.py
updateComic/.run.sh.swp
updateComic/Env.py
